# Ignore Recipe1M dataset
recipe1M_layers/
recipe1M_layers.tar.gz

# Ignore any large datasets
*.json


# Python cache
__pycache__/
*.pyc

# Recipe1M dataset
recipe1M_layers/
recipe1M_layers.tar.gz

# Python cache
__pycache__/
*.pyc
